
.registro-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/ui/fondo_registro.jpg");
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;


    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.registro-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    width: 320px;
    max-height: 90vh;
    overflow-y: auto;
}

.registro-container h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.registro-container label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    color: #333;
}


.registro-container input[type="text"],
.registro-container input[type="email"],
.registro-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.registro-container button {
    margin-top: 1.5rem;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.registro-container button:hover {
    background-color: #e64a19;
}

.login-link {
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: #ff5722;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    width: 100%;
}